
body {
    background-image: url(./images/treesnlights.jpg);
    background-size: contain; 
}

.top {
    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    color:blanchedalmond;
    text-box-trim: black;
    
}

h1, h2 {
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family: 'Starcraft Font';
    src: url('./fonts/starcraft.woff2') format('woff2');
    font-size: large;
    font-weight: normal;
    font-style: normal;
}

.santaimg {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 60px auto;
    border: 4px solid black;
}
.santaimg::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/new_christmas_frame.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 10; 
}

.santababy {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;   

}

.list {
    text-align: center;
    line-height: 48px;
    padding: 200px;
    max-width: 450px;
    margin: 300px auto;
    background-image: url(./images/scroll.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: bolder;
}

.list p {
    font-family: 'Starcraft Font', sans-serif;
    font-size: 42px;
}

.list a {
    font-family: 'Starcraft Font', sans-serif;
    display: block;
    font-size: 22px;
}